<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/selectlevels.css">
        <title>Top Score</title>
    </head>

    <body>
        <img id="bg-image" src="../resources/images/bg.jpg" alt="">
        <div class="container    rounded">
            <center>
                <div id="container-menu">
                    <div class="container">
                        <ul class="list-group list-style">
                            <li>
                                <div class="bg-image">
                                    <a href="game.html" class="btnGame" id="btn-start">Level 1</a>
                                </div>
                            </li>
                            <li>
                                <div class="bg-image">
                                    <a href="game.html" class="btnGame" id="btn-versus">Level 2</a>
                                </div>
                            </li>
                            <li>
                                <div class="bg-image">
                                    <a href="game.html" class="btnGame" id="btn-top">Level 3</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </center>
        </div>
    </body>

</html>